.login-header{
    background-color: rgba($color: $theme-primary-white,$alpha: .8);
    min-height: 60px;
    width: 100%;
    float: left;
    position: fixed;
    -webkit-box-shadow:0px 0px 8px $theme-primary-color;
    -moz-box-shadow:0px 0px 8px $theme-primary-color;
 
    & .icon-div{
      float: left;
    }
    & .icon-logo{
        width: 50px;
        height:50px;
        }

    & .name-div{
      width: 200px;
      float: left;
      font-size: 20px;
      width: 80px;
      margin-left: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      color: $theme-primary-color;
      
    }
    
    & .buttons-join{
      float: right;
       display: inline-block;
       width: 110px;
       height: 60px;
       border:0px solid gray;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    & .buttons-join.login button{
      color: $theme-primary-color;
      background-color:$theme-primary-white;
      border-radius: 10px;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow:0px 0px 6px $theme-primary-color;
      -moz-box-shadow:0px 0px 6px $theme-primary-color;
      width: 80px;
    }
    & .buttons-join.sinup button{
      color: $theme-primary-white;
      background-color: $theme-primary-color;
      border-radius: 10px;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow:0px 0px 6px $theme-primary-white;
      -moz-box-shadow:0px 0px 6px $theme-primary-white;
      width: 80px;
    }
}


.login_body_container{
  height: 800px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
  & .login_container{
    width: 360px;
    height: 400px;
    &::before,
    &::after{
      display: table;
      content: " ";
    }

    & .login-task-content{
      min-height: 20px;
      padding: 30px;
      margin-bottom: 20px;
      background-color: white;
      border: 0px solid #e3e3e3;
      border-radius: 10px;
      -webkit-box-shadow:0px 0px 6px $theme-primary-color;
      -moz-box-shadow:0px 0px 6px $theme-primary-color;
      opacity: 0.7;
      filter: alpha(opacity=70);


      & .login-logo-content{
        width: 300px;
        margin-top: 0px;
        height: 90px;
        border: 0px solid blue;

        & .login-img-logo{
          width: 70px;
          height: 70px;
          right: 0;
          left: 0;
          position: absolute;
          margin: auto;
          border: 0px solid blue;
        }
      }
      & .login-logo-content-title{
        width: 300px;
        margin-top: 0px;
        border: 0px solid blue;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;

        & .login-web-name{
          color: $theme-primary-color;
          font-size: 20PX;
        }
      }
      & .login-input-content{
        margin-top: 30px;
        & .login-input-field-div{
          width: 300px;
          margin-top:10px;
          & .login-input-field-title{
            font-size: 13px;
            color:  $theme-primary-color;
          }
          & .login-input-field{
            width: 96%;
            height: 32px;
            border: 1px solid $theme-primary-color;
            border-radius: 10px;
            padding-left: 10px;
            outline: none;
          
          }
          & a{
            font-size: 13px;
          }
        } 
        & .login-buttons-div{
          width: 100%;
          height: 40px;
          padding-top: 10px;
          padding-bottom: 10px; 
          & .login-button{
            margin-top: 15px;
            float: left;
            border:  0px solid gray;
            width: 46%; 
           
          }
          & .login-button.register{
            padding-right: 11px;
            .btn-register{
              width: 100%;
              height: 35px;  
              color: $theme-primary-color;
              background-color: var(--rayal-white);
              border: 0;
                border-radius: 5px;;
                -webkit-box-shadow:0px 0px 6px $theme-primary-color;
                -moz-box-shadow:0px 0px 6px $theme-primary-color;
            }
          }
          & .login-button.login{
            padding-left: 11px;
            & .btn-login{
              width: 100%;
              height: 35px;
              border:0;
              color: $theme-primary-white;
              border-radius: 5px;
              background-color: $theme-primary-color;
            }
          }
        }
      }
    }
  }
}






@media (max-width: 650px) {
  .login-header{
    position: relative;

    & .logo-name-div{
        float: none;
    }
    & .buttons-join{
      width: 100%;
      float: none;
  }
  }
}
@media (max-width: 480px) {
  .login-header{
    position: relative;

    & .logo-name-div{
        float: none;
    }
    & .buttons-join{
      width: 100%;
      float: none;
  }
  }
}

.info{
  display: none;
  position: absolute;
  top: 9%;
  left: 36%;
  background-color: red;
  height: 4vh;
  width: 32vw;
  color: #fff;
  border-radius: 8px;
  text-align: center;

  p {
    padding: 1em;
  }
}