.featured {
  margin-top: 4em;
  &-cards {
    display: flex;
    justify-items: center;
    list-style: none;
    justify-content: center;

    & .card-feature {
      color: $theme-primary-color;
      flex-basis: 25%;
      background-color: $theme-primary-white;
      box-shadow: 8px 8px 8px rgba($color: $theme-primary-color, $alpha: 0.4);
      margin-right: 2em;

      & .card {
        &-header {
          position: relative;
          & img {
            z-index: 0;
            position: absolute;
            width: 100%;
          }
          &-type {
            -webkit-clip-path: polygon(
              0% 0%,
              75% 0%,
              100% 50%,
              75% 100%,
              0% 100%
            );
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            z-index: 100;
            position: absolute;
            background-color: $theme-primary-color;
            color: $theme-primary-white;
            width: 65%;
            margin-top: 2%;
            font-size: 2.8em;
            text-transform: uppercase;
            text-align: center;
          }
        }
        &-content {
          margin-top: 62%;
          font-size: 2.8em;
          text-align: justify;
          padding: 2em;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .featured {
    width: 100%;
    margin-right: 0;
    &-cards {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .card-feature {
        flex-basis: 100%;
        background-color: $theme-primary-white;
        box-shadow: none;
        margin: 10% 0 0 0;
        height: auto;

        & .card {
          &-header {
            &-type {
              z-index: 100;
              position: absolute;
              font-size: 1.8em;
              text-transform: uppercase;
              text-align: center;
            }
          }
          &-content {
            margin-top: 60%;
            font-size: 1.8em;
          }
        }
      }
    }
  }
}
