@charset "UTF-8";
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  85% {
    left: -300%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 62.4%;
}

.sliding-header {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 8px #b64d7e;
}
.sliding-header-slider {
  z-index: 0;
}
.sliding-header-slider .slide {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  animation: slider 20s infinite ease-out;
}
.sliding-header-slider .slide img {
  width: 20%;
  height: 50em;
  float: left;
}
.sliding-header .front-face {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
}
.sliding-header .front-face nav {
  color: white;
  z-index: 400;
}
.sliding-header .front-face nav .nav-menu {
  list-style: none;
}
.sliding-header .front-face nav .nav-menu-link {
  float: left;
  margin-right: 2.2em;
  padding: 0.8em 2em;
  font-size: 3em;
  transition: 1s border-bottom ease-in;
  text-transform: uppercase;
}
.sliding-header .front-face nav .nav-menu-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 8px solid white;
}

@media (max-width: 320px) {
  .sliding-header-slider .slide img {
    width: 20%;
    height: 90em;
    float: left;
  }
}
.login-header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.login-header .icon-div {
  float: left;
}
.login-header .icon-logo {
  width: 50px;
  height: 50px;
}
.login-header .name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.login-header .buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header .buttons-join.login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  width: 80px;
}
.login-header .buttons-join.sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.login_body_container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container {
  width: 360px;
  height: 400px;
}
.login_body_container .login_container::before, .login_body_container .login_container::after {
  display: table;
  content: " ";
}
.login_body_container .login_container .login-task-content {
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.login_body_container .login_container .login-task-content .login-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 90px;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content .login-img-logo {
  width: 70px;
  height: 70px;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container .login-task-content .login-logo-content-title .login-web-name {
  color: #b64d7e;
  font-size: 20PX;
}
.login_body_container .login_container .login-task-content .login-input-content {
  margin-top: 30px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field-title {
  font-size: 13px;
  color: #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid #b64d7e;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div a {
  font-size: 13px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register {
  padding-right: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register .btn-register {
  width: 100%;
  height: 35px;
  color: #b64d7e;
  background-color: var(--rayal-white);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login {
  padding-left: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login .btn-login {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #b64d7e;
}

@media (max-width: 650px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
.featured {
  margin-top: 4em;
}
.featured-cards {
  display: flex;
  justify-items: center;
  list-style: none;
  justify-content: center;
}
.featured-cards .card-feature {
  color: #b64d7e;
  flex-basis: 25%;
  background-color: white;
  box-shadow: 8px 8px 8px rgba(182, 77, 126, 0.4);
  margin-right: 2em;
}
.featured-cards .card-feature .card-header {
  position: relative;
}
.featured-cards .card-feature .card-header img {
  z-index: 0;
  position: absolute;
  width: 100%;
}
.featured-cards .card-feature .card-header-type {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  z-index: 100;
  position: absolute;
  background-color: #b64d7e;
  color: white;
  width: 65%;
  margin-top: 2%;
  font-size: 2.8em;
  text-transform: uppercase;
  text-align: center;
}
.featured-cards .card-feature .card-content {
  margin-top: 62%;
  font-size: 2.8em;
  text-align: justify;
  padding: 2em;
}

@media (max-width: 425px) {
  .featured {
    width: 100%;
    margin-right: 0;
  }
  .featured-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .featured-cards .card-feature {
    flex-basis: 100%;
    background-color: white;
    box-shadow: none;
    margin: 10% 0 0 0;
    height: auto;
  }
  .featured-cards .card-feature .card-header-type {
    z-index: 100;
    position: absolute;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
  }
  .featured-cards .card-feature .card-content {
    margin-top: 60%;
    font-size: 1.8em;
  }
}
.testimonial {
  background: rgba(182, 77, 126, 0.4);
  margin-top: 5%;
}
.testimonial .review {
  padding: 1%;
  position: relative;
}
.testimonial .review__text {
  font-size: 3em;
}
.testimonial .review__user {
  margin-left: 6em;
}
.testimonial .review__user img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  display: inline-block;
}
.testimonial .review__user-box {
  font-size: 3em;
  margin-left: 2em;
  display: inline-block;
}
.testimonial .review__rating {
  display: inline-block;
  font-size: 13em;
  color: #b64d7e;
}
.testimonial .review::before {
  content: "“";
  color: #b64d7e;
  position: absolute;
  font-size: 14em;
  margin: -1% 0 0 0;
}

@media (max-width: 320px) {
  .testimonial .review {
    padding: 1%;
  }
  .testimonial .review__text {
    font-size: 2em;
  }
  .testimonial .review__user {
    margin-left: 6em;
  }
  .testimonial .review__user img {
    display: block;
  }
  .testimonial .review__user-box {
    font-size: 2em;
    margin-left: 0;
  }
  .testimonial .review__rating {
    font-size: 9em;
  }
}
footer {
  margin-top: -5em;
  width: 100%;
  background-color: #b64d7e;
  height: 10vh;
  color: white;
}
footer .copyright {
  font-size: 5em;
  text-align: center;
}

.login-header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.login-header .icon-div {
  float: left;
}
.login-header .icon-logo {
  width: 50px;
  height: 50px;
}
.login-header .name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.login-header .buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header .buttons-join.login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  width: 80px;
}
.login-header .buttons-join.sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.login_body_container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container {
  width: 360px;
  height: 400px;
}
.login_body_container .login_container::before, .login_body_container .login_container::after {
  display: table;
  content: " ";
}
.login_body_container .login_container .login-task-content {
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.login_body_container .login_container .login-task-content .login-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 90px;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content .login-img-logo {
  width: 70px;
  height: 70px;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container .login-task-content .login-logo-content-title .login-web-name {
  color: #b64d7e;
  font-size: 20PX;
}
.login_body_container .login_container .login-task-content .login-input-content {
  margin-top: 30px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field-title {
  font-size: 13px;
  color: #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid #b64d7e;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div a {
  font-size: 13px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register {
  padding-right: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register .btn-register {
  width: 100%;
  height: 35px;
  color: #b64d7e;
  background-color: var(--rayal-white);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login {
  padding-left: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login .btn-login {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #b64d7e;
}

@media (max-width: 650px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
.signup-header {
  width: 100%;
  min-height: 60px;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.signup-header .signup-icon-div {
  float: left;
}
.signup-header .signup-icon-logo {
  width: 50px;
  height: 50px;
}
.signup-header .signup-name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.signup-header .signup-buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-header .signup-buttons-join.login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  width: 80px;
}
.signup-header .signup-buttons-join.sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.signup-setup_body_container {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-setup_body_container .signup-container {
  width: 680px;
  height: inherit;
  position: absolute;
}
.signup-setup_body_container .signup-container ::before, .signup-setup_body_container .signup-container ::after {
  display: table;
  content: " ";
}
.signup-setup_body_container .signup-container .signup-task-content {
  display: none;
  margin-top: 130px;
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 40px;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content .signup-img-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content-title .signup-web-name {
  color: #b64d7e;
  font-size: 20PX;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content {
  margin-top: 30px;
  border: 0px solid gray;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div span {
  size: 13px;
  color: var(--rayol-primary-color);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div .signup-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid #b64d7e;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div .signup-input-field.confirm {
  margin-top: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div {
  width: 47%;
  height: 40px;
  border: 0px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.cancel {
  padding-right: 11px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.cancel .signup-btn-cancel {
  width: 100%;
  height: 35px;
  color: #b64d7e;
  background-color: white;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.create {
  padding-left: 11px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.create .signup-btn-create {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #b64d7e;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-content-image-presenter img {
  width: 250px;
  height: 250px;
  float: right;
  margin-top: -250px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-setup_body_container .signup-container .signup-task-content.active {
  display: block;
}

.header {
  width: 100%;
  z-index: 120000;
  min-height: 60px;
  float: left;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.header-icon-div {
  float: left;
}
.header-icon-logo {
  width: 50px;
  height: 50px;
}
.header-name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.header-buttons-join {
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-buttons-join .login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 80px;
}
.header-buttons-join .sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 80px;
}

.user-home {
  position: absolute;
  top: 30%;
  left: 50%;
}

.post {
  transform: translate(-50%, -15%);
  width: 65vw;
  box-shadow: 8px 8px 8px 8px rgba(182, 77, 126, 0.1);
}
.post-header {
  display: flex;
  margin: 2% 2% 2% 2%;
}
.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2% 0 0 2%;
}
.post-user {
  font-size: 2.2em;
  margin: 3% 3% 2% 2%;
}
.post-content__img {
  margin: 4%;
}
.post-content__img img {
  z-index: 300;
  margin: 0% 0% 1% 1%;
  width: 100%;
  height: 45%;
}
.post-content__img .movement-arrow {
  display: flex;
  z-index: 400;
  position: absolute;
  width: 92vw;
  top: 38%;
  left: 6%;
}
.post-content__img .movement-arrow a.left {
  visibility: hidden;
  font-size: 10.4em;
  background-color: #b64d7e;
  text-decoration: none;
  color: white;
  margin: 0 59% 0 -2%;
}
.post-content__img .movement-arrow a.right {
  font-size: 10.4em;
  background-color: #b64d7e;
  text-decoration: none;
  color: white;
  margin-left: 2%;
}
.post-content__img .movement-dots {
  position: absolute;
  z-index: 400;
  top: 84%;
  width: 9vw;
  left: 45%;
}
.post-content__img .movement-dots div {
  float: left;
  margin-right: 10%;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: rgba(182, 77, 126, 0.5);
}
.post-content__description {
  font-size: 2.3em;
}
.post-content__description h3 {
  text-align: center;
}
.post-content__description .description {
  padding: 2em;
}
.post-content__description .description-location {
  margin: 2% 0 2% 0;
  display: flex;
}
.post-content__description .description-location .money {
  font-size: 3.3em;
  margin-left: 54%;
  color: #b64d7e;
}
.post-content .book-me {
  margin: 6% 0 4% 0%;
}
.post-content .book-me__button:visited, .post-content .book-me__button:link {
  text-decoration: none;
  color: white;
  background-color: #b64d7e;
  padding: 1.8em 2.8em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .user-home {
    left: 84%;
  }

  .post {
    width: 97vw;
  }
  .post-content__img .movement-arrow a.left {
    margin: 0 86% 0 -2%;
  }
  .post-content__description {
    font-size: 3em;
  }
  .post-content__description .money {
    margin-left: 47% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .post {
    width: 248vw;
    box-shadow: none;
    transform: translate(-11%, -10%);
  }
  .post-content__img img {
    width: 100%;
  }
  .post-content__img .movement-arrow {
    top: 29%;
  }
  .post-content__img .movement-arrow a.left {
    margin: 0 221% 0 -5%;
  }
  .post-content__img .movement-arrow a.right {
    margin-left: 5%;
  }
  .post-content__description {
    font-size: 3.8em;
  }
  .post-content__description .money {
    margin-left: 39% !important;
  }
}

/*# sourceMappingURL=style.css.map */
