@charset "UTF-8";
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  85% {
    left: -300%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 62.4%;
}

.sliding-header {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 8px #b64d7e;
}
.sliding-header-slider {
  z-index: 0;
}
.sliding-header-slider .slide {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  animation: slider 20s infinite ease-out;
}
.sliding-header-slider .slide img {
  width: 20%;
  height: 50em;
  float: left;
}
.sliding-header .front-face {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
}
.sliding-header .front-face nav {
  color: white;
  z-index: 400;
}
.sliding-header .front-face nav .nav-menu {
  list-style: none;
}
.sliding-header .front-face nav .nav-menu-link {
  float: left;
  margin-right: 2.2em;
  padding: 0.8em 2em;
  font-size: 3em;
  transition: 1s border-bottom ease-in;
  text-transform: uppercase;
}
.sliding-header .front-face nav .nav-menu-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 8px solid white;
}

@media (max-width: 320px) {
  .sliding-header-slider .slide img {
    width: 20%;
    height: 90em;
    float: left;
  }
}
.login-header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.login-header .icon-div {
  float: left;
}
.login-header .icon-logo {
  width: 50px;
  height: 50px;
}
.login-header .name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.login-header .buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header .buttons-join.login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  width: 80px;
}
.login-header .buttons-join.sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.login_body_container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container {
  width: 360px;
  height: 400px;
}
.login_body_container .login_container::before, .login_body_container .login_container::after {
  display: table;
  content: " ";
}
.login_body_container .login_container .login-task-content {
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.login_body_container .login_container .login-task-content .login-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 90px;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content .login-img-logo {
  width: 70px;
  height: 70px;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container .login-task-content .login-logo-content-title .login-web-name {
  color: #b64d7e;
  font-size: 20PX;
}
.login_body_container .login_container .login-task-content .login-input-content {
  margin-top: 30px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field-title {
  font-size: 13px;
  color: #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid #b64d7e;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div a {
  font-size: 13px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register {
  padding-right: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register .btn-register {
  width: 100%;
  height: 35px;
  color: #b64d7e;
  background-color: var(--rayal-white);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login {
  padding-left: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login .btn-login {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #b64d7e;
}

@media (max-width: 650px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
.info {
  display: none;
  position: absolute;
  top: 9%;
  left: 36%;
  background-color: red;
  height: 4vh;
  width: 32vw;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}
.info p {
  padding: 1em;
}

.featured {
  margin-top: 4em;
}
.featured-cards {
  display: flex;
  justify-items: center;
  list-style: none;
  justify-content: center;
}
.featured-cards .card-feature {
  color: #b64d7e;
  flex-basis: 25%;
  background-color: white;
  box-shadow: 8px 8px 8px rgba(182, 77, 126, 0.4);
  margin-right: 2em;
}
.featured-cards .card-feature .card-header {
  position: relative;
}
.featured-cards .card-feature .card-header img {
  z-index: 0;
  position: absolute;
  width: 100%;
}
.featured-cards .card-feature .card-header-type {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  z-index: 100;
  position: absolute;
  background-color: #b64d7e;
  color: white;
  width: 65%;
  margin-top: 2%;
  font-size: 2.8em;
  text-transform: uppercase;
  text-align: center;
}
.featured-cards .card-feature .card-content {
  margin-top: 62%;
  font-size: 2.8em;
  text-align: justify;
  padding: 2em;
}

@media (max-width: 425px) {
  .featured {
    width: 100%;
    margin-right: 0;
  }
  .featured-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .featured-cards .card-feature {
    flex-basis: 100%;
    background-color: white;
    box-shadow: none;
    margin: 10% 0 0 0;
    height: auto;
  }
  .featured-cards .card-feature .card-header-type {
    z-index: 100;
    position: absolute;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
  }
  .featured-cards .card-feature .card-content {
    margin-top: 60%;
    font-size: 1.8em;
  }
}
.testimonial {
  background: rgba(182, 77, 126, 0.4);
  margin-top: 5%;
}
.testimonial .review {
  padding: 1%;
  position: relative;
}
.testimonial .review__text {
  font-size: 3em;
}
.testimonial .review__user {
  margin-left: 6em;
}
.testimonial .review__user img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  display: inline-block;
}
.testimonial .review__user-box {
  font-size: 3em;
  margin-left: 2em;
  display: inline-block;
}
.testimonial .review__rating {
  display: inline-block;
  font-size: 13em;
  color: #b64d7e;
}
.testimonial .review::before {
  content: "“";
  color: #b64d7e;
  position: absolute;
  font-size: 14em;
  margin: -1% 0 0 0;
}

@media (max-width: 320px) {
  .testimonial .review {
    padding: 1%;
  }
  .testimonial .review__text {
    font-size: 2em;
  }
  .testimonial .review__user {
    margin-left: 6em;
  }
  .testimonial .review__user img {
    display: block;
  }
  .testimonial .review__user-box {
    font-size: 2em;
    margin-left: 0;
  }
  .testimonial .review__rating {
    font-size: 9em;
  }
}
footer {
  margin-top: -5em;
  width: 100%;
  background-color: #b64d7e;
  height: 10vh;
  color: white;
}
footer .copyright {
  font-size: 5em;
  text-align: center;
}

.login-header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.login-header .icon-div {
  float: left;
}
.login-header .icon-logo {
  width: 50px;
  height: 50px;
}
.login-header .name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.login-header .buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header .buttons-join.login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  width: 80px;
}
.login-header .buttons-join.sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.login_body_container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container {
  width: 360px;
  height: 400px;
}
.login_body_container .login_container::before, .login_body_container .login_container::after {
  display: table;
  content: " ";
}
.login_body_container .login_container .login-task-content {
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.login_body_container .login_container .login-task-content .login-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 90px;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content .login-img-logo {
  width: 70px;
  height: 70px;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container .login-task-content .login-logo-content-title .login-web-name {
  color: #b64d7e;
  font-size: 20PX;
}
.login_body_container .login_container .login-task-content .login-input-content {
  margin-top: 30px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field-title {
  font-size: 13px;
  color: #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid #b64d7e;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div a {
  font-size: 13px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register {
  padding-right: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register .btn-register {
  width: 100%;
  height: 35px;
  color: #b64d7e;
  background-color: var(--rayal-white);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login {
  padding-left: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login .btn-login {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #b64d7e;
}

@media (max-width: 650px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
.info {
  display: none;
  position: absolute;
  top: 9%;
  left: 36%;
  background-color: red;
  height: 4vh;
  width: 32vw;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}
.info p {
  padding: 1em;
}

.signup-header {
  width: 100%;
  min-height: 60px;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.signup-header .signup-icon-div {
  float: left;
}
.signup-header .signup-icon-logo {
  width: 50px;
  height: 50px;
}
.signup-header .signup-name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.signup-header .signup-buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-header .signup-buttons-join.login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  width: 80px;
}
.signup-header .signup-buttons-join.sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.signup-setup_body_container {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-setup_body_container .signup-container {
  width: 680px;
  height: inherit;
  position: absolute;
}
.signup-setup_body_container .signup-container ::before, .signup-setup_body_container .signup-container ::after {
  display: table;
  content: " ";
}
.signup-setup_body_container .signup-container .signup-task-content {
  display: none;
  margin-top: 130px;
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 40px;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content .signup-img-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content-title .signup-web-name {
  color: #b64d7e;
  font-size: 20PX;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content {
  margin-top: 30px;
  border: 0px solid gray;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div span {
  size: 13px;
  color: var(--rayol-primary-color);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div .signup-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid #b64d7e;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div .signup-input-field.confirm {
  margin-top: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div {
  width: 47%;
  height: 40px;
  border: 0px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.cancel {
  padding-right: 11px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.cancel .signup-btn-cancel {
  width: 100%;
  height: 35px;
  color: #b64d7e;
  background-color: white;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #b64d7e;
  -moz-box-shadow: 0px 0px 6px #b64d7e;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.create {
  padding-left: 11px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.create .signup-btn-create {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #b64d7e;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-content-image-presenter img {
  width: 250px;
  height: 250px;
  float: right;
  margin-top: -250px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-setup_body_container .signup-container .signup-task-content.active {
  display: block;
}

.payment-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-82%, -50%);
}
.payment-card__front {
  border: 1px solid #05588fe7;
  height: 28vh;
  width: 25vw;
  border-radius: 8px;
  z-index: 300;
  position: absolute;
  background-color: white;
}
.payment-card__back {
  margin-top: -15%;
  margin-left: 37%;
  z-index: 200;
  border: 1px solid #05588fe7;
  height: 28vh;
  width: 25vw;
  border-radius: 8px;
  background-color: white;
}
.payment-card__back input {
  border: 1px solid #000;
  padding: 1.2em 1em;
  border-radius: 3px;
  margin-left: 64%;
  margin-top: 6%;
  width: 10%;
  height: 10%;
}
.payment-card__ribbon {
  background-color: #000;
  margin-top: 4%;
  height: 25px;
  width: 100%;
}
.payment-card__number input {
  border: 1px solid #000;
  padding: 1.2em 1em;
  border-radius: 3px;
  width: 92%;
  margin: 4% 1% 4% 1%;
}
.payment-card__name {
  display: inline-block;
  margin: 0 0 0 2%;
}
.payment-card__name input {
  border: 1px solid #000;
  padding: 1.2em 1em;
  border-radius: 3px;
  width: 56%;
}
.payment-card__expire {
  width: 10% !important;
}
.payment-card__logo {
  margin: 2%;
}
.payment-card__logo img {
  width: 68px;
  height: 43px;
}

.focus {
  margin: 8% 2% 2% 2%;
}

#show-logo {
  opacity: 0;
}

.validate {
  top: 78%;
  position: absolute;
  left: 36%;
}
.validate-button:visited, .validate-button:link {
  border: 1px solid #000;
  padding: 1.2em 1em;
  border-radius: 3px;
  padding: 1.2em 7em !important;
  text-decoration: none;
  font-size: 3em;
  font-weight: bold;
  background-color: rgba(182, 77, 126, 0.7);
  color: white;
  transition: all 0.6s ease-in-out;
}
.validate-button:visited:hover, .validate-button:link:hover {
  background-color: #b64d7e;
  transform: translateX(-6%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.validate-button:visited:active, .validate-button:link:active {
  background-color: rgba(182, 77, 126, 0.7);
  transform: translateY(-12%);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .payment-card__front {
    height: 21vh;
    width: 33vw;
  }
  .payment-card__number {
    width: 81%;
    margin: 4% 1% 4% 1%;
  }
  .payment-card__name input {
    padding: 1.2em 0.4em;
    width: 45%;
  }
  .payment-card__back {
    height: 17vh;
    width: 34vw;
  }

  .focus {
    margin: 5% 4% 8% 6%;
  }

  .validate {
    top: 74%;
    left: 26%;
  }

  .error {
    height: 10%;
    left: 25%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .login-header {
    width: 120%;
  }

  .error {
    left: 16% !important;
    width: 84% !important;
  }

  .payment-card {
    transform: translate(-58%, -50%);
  }
  .payment-card__front {
    height: 25vh;
    width: 65vw;
  }
  .payment-card__number input {
    width: 79%;
    margin: 4% 3% 4% 3%;
  }
  .payment-card__name input {
    padding: 1.2em 0.4em;
    width: 51%;
    margin: 0 -2% 0 3%;
  }
  .payment-card__back {
    height: 21vh;
    width: 66vw;
  }

  .validate {
    left: 8%;
  }

  .focus {
    margin: 0% 2% 2% 2%;
  }
}
.error {
  position: absolute;
  top: 20%;
  left: 29%;
  text-align: center;
  border-radius: 4px;
  font-size: 3em;
  background-color: rgba(228, 13, 13, 0.856);
  width: 35%;
  visibility: hidden;
  height: 10%;
}
.error p {
  color: white;
  margin: 6% 2% 6% 2%;
}

.header {
  width: 100%;
  z-index: 120000;
  min-height: 60px;
  float: left;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.header-icon-div {
  float: left;
}
.header-icon-logo {
  width: 50px;
  height: 50px;
}
.header-name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #b64d7e;
}
.header-buttons-join {
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-buttons-join .login button {
  color: #b64d7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 80px;
}
.header-buttons-join .sinup button {
  color: white;
  background-color: #b64d7e;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 80px;
}

.user-home {
  position: absolute;
  top: 30%;
  left: 50%;
}

.post {
  transform: translate(-50%, -15%);
  width: 65vw;
  box-shadow: 8px 8px 8px 8px rgba(182, 77, 126, 0.1);
}
.post-header {
  display: flex;
  margin: 2% 2% 2% 2%;
}
.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2% 0 0 2%;
}
.post-user {
  font-size: 2.2em;
  margin: 3% 3% 2% 2%;
}
.post-content__img {
  margin: 4%;
}
.post-content__img img {
  z-index: 300;
  margin: 0% 0% 1% 1%;
  width: 100%;
  height: 45%;
}
.post-content__img .movement-arrow {
  display: flex;
  z-index: 400;
  position: absolute;
  width: 92vw;
  top: 38%;
  left: 6%;
}
.post-content__img .movement-arrow a.left {
  visibility: hidden;
  font-size: 10.4em;
  background-color: #b64d7e;
  text-decoration: none;
  color: white;
  margin: 0 59% 0 -2%;
}
.post-content__img .movement-arrow a.right {
  font-size: 10.4em;
  background-color: #b64d7e;
  text-decoration: none;
  color: white;
  margin-left: 2%;
}
.post-content__img .movement-dots {
  position: absolute;
  z-index: 400;
  top: 84%;
  width: 9vw;
  left: 45%;
}
.post-content__img .movement-dots div {
  float: left;
  margin-right: 10%;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: rgba(182, 77, 126, 0.5);
}
.post-content__description {
  font-size: 2.3em;
}
.post-content__description h3 {
  text-align: center;
}
.post-content__description .description {
  padding: 2em;
}
.post-content__description .description-location {
  margin: 2% 0 2% 0;
  display: flex;
}
.post-content__description .description-location .money {
  font-size: 3.3em;
  margin-left: 54%;
  color: #b64d7e;
}
.post-content .book-me {
  margin: 6% 0 4% 0%;
}
.post-content .book-me__button:visited, .post-content .book-me__button:link {
  text-decoration: none;
  color: white;
  background-color: #b64d7e;
  padding: 1.8em 2.8em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .user-home {
    left: 84%;
  }

  .post {
    width: 97vw;
  }
  .post-content__img .movement-arrow a.left {
    margin: 0 86% 0 -2%;
  }
  .post-content__description {
    font-size: 3em;
  }
  .post-content__description .money {
    margin-left: 47% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .post {
    width: 248vw;
    box-shadow: none;
    transform: translate(-11%, -10%);
  }
  .post-content__img img {
    width: 100%;
  }
  .post-content__img .movement-arrow {
    top: 29%;
  }
  .post-content__img .movement-arrow a.left {
    margin: 0 221% 0 -5%;
  }
  .post-content__img .movement-arrow a.right {
    margin-left: 5%;
  }
  .post-content__description {
    font-size: 3.8em;
  }
  .post-content__description .money {
    margin-left: 39% !important;
  }
}
.userprofile-top-navigation {
  width: inherit;
  background-color: white;
  z-index: 1000;
  float: unset;
  -webkit-box-shadow: 0px 0px 8px #b64d7e;
  -moz-box-shadow: 0px 0px 8px #b64d7e;
}
.userprofile-top-navigation .userprofile-logo-img {
  float: left;
  height: inherit;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-logo-img .userprofile-icon-logo {
  margin-top: 7px;
  height: 40px;
}
.userprofile-top-navigation .userprofile-name-div {
  display: inline-block;
  width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-name-div .userprofile-web-name {
  color: #b64d7e;
  font-size: 20PX;
  margin-left: 80px;
}
.userprofile-top-navigation .userprofile-profile-nav {
  margin-top: -53px;
  height: 59px;
  width: 120px;
  margin-left: auto;
  margin-right: 0;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav {
  height: inherit;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav {
  width: 20px;
  height: 20px;
  border: 0px solid gray;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav .userprofile-icon-notification {
  width: 20px;
  height: 20px;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav .userprofile-notification-text-nav {
  width: 17px;
  margin-left: 12px;
  margin-top: -35px;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav .userprofile-notification-text-nav .userprofile-notification-text {
  font-size: 9px;
  background-color: green;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  color: white;
  padding-bottom: 2px;
  border-radius: 50%;
  margin-top: 0px;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-profile-nav {
  border: 0px solid gray;
  width: 60px;
  height: 55px;
  margin-left: 60px;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-profile-nav .userprofile-icon-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

body {
  background-color: #f5f5f5;
}
body .userprofile-body-contant-navigation {
  width: 98%;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}
body .userprofile-body-contant-navigation .userprofile-setting_body {
  margin: auto;
  left: 0;
  right: 0;
  width: 400px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px #b64d7e;
  -moz-box-shadow: 0px 0px 4px #b64d7e;
}
body .userprofile-body-contant-navigation .userprofile-setting_body .userprofile-settings_profile {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .userprofile-body-contant-navigation .userprofile-setting_body .userprofile-settings_profile span {
  font-size: 15px;
}
body .userprofile-body-contant-navigation .userprofile-setting_body .userprofile-settings_profile .userprofile-settings_profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books {
  margin: auto;
  left: 0;
  right: 0;
  width: 400px;
  position: relative;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px #b64d7e;
  -moz-box-shadow: 0px 0px 4px #b64d7e;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-title {
  width: 100%;
  margin-top: 10px;
  border: 0px solid gray;
  height: 30px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-title span {
  font-size: 18px;
  margin-left: 10px;
  font-style: initial;
  color: #b64d7e;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container {
  border: 0px solid gray;
  width: 100%;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item {
  border: 0px solid gray;
  margin: 10px;
  width: 95%;
  background-color: #cca8b9;
  border-radius: 5px;
  padding-top: 10px;
  height: 60px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item .userprofile-books-item-name {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item .userprofile-books-item-address {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item .userprofile-books-item-cost {
  font-size: 17px;
  float: right;
  margin-right: 20px;
  color: #913939;
  text-decoration: 1;
  margin-top: 10px;
  margin-left: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-security-container {
  border: 0px solid gray;
  width: 100%;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-security-container .userprofile-security {
  border: 0px solid gray;
  margin: 10px;
  width: 95%;
  height: 80px;
  border-radius: 5px;
  padding-top: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-security-container .userprofile-security label {
  font-size: 17px;
  text-decoration: underline;
  color: #1c1c1d;
}

.admin-container {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  height: 88%;
  background-color: #f5f5f5;
}
.admin-container .body-contant-navigation {
  width: 98%;
  margin-top: 10px;
  height: 100%;
  padding: 10px;
  background-color: #f5f5f5;
}
.admin-container .body-contant-navigation .tast_content_main {
  width: 100%;
  background-color: white;
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border-collapse: collapse;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation {
  width: 250px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #A3A3A3;
  -moz-box-shadow: 0px 0px 6px #A3A3A3;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section {
  width: auto;
  height: 60px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-image-div {
  height: inherit;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-image-div .left-navigation-dawer-profile-section-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-name-div {
  width: 155px;
  height: 15px;
  margin-left: 60px;
  margin-top: -47px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-name-div .left-navigation-dawer-profile-section-profile-name {
  font-size: 14px;
  color: gray;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-status-div {
  width: 155px;
  height: 15px;
  margin-left: 60px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-status-div .left-navigation-dawer-profile-section-profile-status {
  font-size: 12px;
  color: green;
  font-family: Roboto-Medium;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons {
  height: 40px;
  width: 200px;
  cursor: pointer;
  border: 0px solid gray;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f0ecec;
  margin-top: 3px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-icons-div {
  height: inherit;
  margin-left: 10px;
  width: 30px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-icons-div .left-navigation-dawer-opened-buttons-icons {
  width: 15px;
  height: 15px;
  fill: #b64d7e;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-title-div {
  margin-left: 40px;
  width: 160px;
  height: 25px;
  margin-top: -26px;
  float: left;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-title-div .left-navigation-dawer-opened-buttons-title .home-links {
  color: gray;
  font-size: 13px;
  text-decoration: none;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-title-div .left-navigation-dawer-opened-buttons-title .home-links :focus {
  color: #b64d7e;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons:hover {
  border-left: 3px solid #b64d7e;
  background-color: #ECEFF1;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons.visible {
  border-left: 3px solid #b64d7e;
  background-color: #f8f1f8;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td {
  width: 100%;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content {
  padding: 15px;
  margin-left: 10px;
  width: 98%;
  height: 100%;
  border-color: #b64d7e;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #A3A3A3;
  -moz-box-shadow: 0px 0px 6px #A3A3A3;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list {
  background-color: white;
  border: 0px solid gray;
  width: 96;
  margin: 0;
  height: inherit;
  width: 100%;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header {
  border: 0px solid green;
  height: 40px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title {
  border: 0px solid gray;
  height: 40px;
  width: 200px;
  border: 0px solid gray;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.title {
  width: 80px;
  float: left;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.title span {
  font-size: 20px;
  height: 40px;
  color: #b64d7e;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search {
  border: 0px solid gray;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search input {
  height: 25px;
  padding-left: 10px;
  margin: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .search_contents_tools {
  float: right;
  margin: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .g-h-menu {
  float: left;
  width: 40px;
  height: 40px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .g-h-menu.inbox.reflesh button {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #b64d7e;
  height: 2.5em;
  width: 2.5em;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .g-h-menu.inbox.reflesh button img {
  height: 10px;
  width: 10px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .line {
  background-color: #f5f5f5;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus {
  border: 0px solid green;
  height: 40px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus .g-h-menu {
  float: left;
  width: 40px;
  height: 40px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus .g-h-menu .buttons-headers {
  background-color: #b64d7e;
  height: 35px;
  width: 35px;
  border-radius: 0.8em;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus .g-h-menu .buttons-headers img {
  height: 10px;
  width: 10px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table {
  overflow: auto;
  border: 0px solid gray;
  width: 100%;
  max-height: 500px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-spacing: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr {
  height: 50px;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
  cursor: pointer;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check {
  width: 50px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon {
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon .checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #eee;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon:hover input ~ .checkmark {
  background-color: #ccc;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon input:checked ~ .checkmark {
  background-color: #b64d7e;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon input:checked ~ .checkmark:after {
  display: block;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon .checkmark:after {
  left: 7px;
  top: 5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td .img-user-row {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.name {
  font-size: 14px;
  color: #b64d7e;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.date {
  font-size: 12px;
  color: gray;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.feed {
  font-size: 12px;
  color: gray;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.sender {
  font-size: 14px;
  color: #b64d7e;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr:hover {
  background-color: #ECEFF1;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr.tr-backgound {
  background-color: #FAFAFA;
}

.dashboard {
  display: flex;
  margin-top: 5%;
  height: 125vh;
  overflow: hidden;
}
.dashboard .left-panel {
  width: 30vw;
  position: fixed;
  margin-left: 3%;
}
.dashboard .left-panel .user-detail {
  border: 2px solid #b64d7e;
  box-shadow: 8px 8px 8px 8px rgba(182, 77, 126, 0.1);
}
.dashboard .left-panel .user-detail__name {
  text-align: center;
  font-size: 2.4em;
}
.dashboard .left-panel .user-detail__name span {
  font-weight: bold;
  font-size: 1.3em;
}
.dashboard .left-panel .user-detail__content {
  margin-left: 26%;
  margin-top: 2%;
  font-size: 3.3em;
}
.dashboard .left-panel .user-detail__new {
  margin-top: 2%;
  text-align: center;
}
.dashboard .left-panel .user-detail__new button {
  text-decoration: none;
  color: white;
  background-color: #b64d7e;
  padding: 1.8em 2.8em;
  width: 100%;
  margin-top: 4%;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 4%;
}
.dashboard .left-panel .user-detail .user-profile {
  width: 100%;
  background: #ebb2e7;
  background: -webkit-radial-gradient(center, #ebb2e7, #b64d7e);
  background: -moz-radial-gradient(center, #ebb2e7, #b64d7e);
  background: radial-gradient(ellipse at center, #ebb2e7, #b64d7e);
}
.dashboard .left-panel .user-detail .user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 41%;
  margin-top: 20%;
}
.dashboard .left-panel .user-bookings {
  margin-top: 2%;
  border: 2px solid #b64d7e;
  box-shadow: 8px 8px 8px 8px rgba(182, 77, 126, 0.1);
}
.dashboard .left-panel .user-bookings__header {
  text-align: center;
  background: -webkit-radial-gradient(center, #ebb2e7, #b64d7e);
  background: -moz-radial-gradient(center, #ebb2e7, #b64d7e);
  background: radial-gradient(ellipse at center, #ebb2e7, #b64d7e);
}
.dashboard .left-panel .user-bookings__header h3 {
  font-size: 3.3em;
  text-transform: capitalize;
}
.dashboard .right-panel {
  height: 967px;
  width: 800px;
  transform: translate(62%, 2%);
  overflow-y: scroll;
  overflow-x: hidden;
}
.dashboard .right-panel .post-user-profile {
  transform: translate(10%, 0%);
  width: 46vw;
  border: 2px solid #b64d7e;
}
.dashboard .right-panel .post-user-profile .edit-post:visited,
.dashboard .right-panel .post-user-profile .edit-post:link {
  margin-left: 45em;
  text-decoration: none;
  color: #000;
}
.dashboard .right-panel .post-user-profile .post-content__img .movement-arrow a.left {
  visibility: hidden;
  font-size: 10.4em;
  background-color: #b64d7e;
  text-decoration: none;
  color: white;
  margin: 0 40% 0 -2%;
}

.post-form {
  overflow: hidden;
  font-size: 3.7em;
  transform: translate(0%, -200%);
  width: 96vw;
  height: 150vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #b64d7e;
  z-index: 3000;
  position: absolute;
  text-align: center;
  transition: 0.6s ease-in;
}
.post-form .info {
  display: none;
  margin-top: 27%;
  margin-left: 27%;
  color: #fff;
  border-radius: 8px;
  height: 7vh;
  width: 59%;
  transition: 0.4s ease-in;
}
.post-form .info p {
  padding: 0.8em;
}
.post-form .heading {
  margin-bottom: 4%;
}
.post-form .heading label {
  margin-right: 7.7%;
}
.post-form .heading input {
  border: 1px solid #000;
  padding: 1.2em 1em;
  border-radius: 3px;
  width: 65%;
}
.post-form .description label {
  margin-right: 2%;
  margin-top: -45%;
}
.post-form .description textarea {
  border: 1px solid #000;
  padding: 1.2em 1em;
  border-radius: 3px;
  width: 65%;
}
.post-form .upload {
  margin-top: 3%;
}
.post-form .action-buttons {
  margin: 2% 0 0 63%;
}
.post-form .action-buttons button,
.post-form .action-buttons input {
  text-decoration: none;
  color: white;
  background-color: #b64d7e;
  padding: 1.8em 2.8em;
}

#before-err-edit {
  margin-top: 25%;
}

/*# sourceMappingURL=style.css.map */
