@charset "UTF-8";
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  85% {
    left: -300%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 62.4%;
}

.sliding-header {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
}
.sliding-header-slider {
  z-index: 0;
}
.sliding-header-slider .slide {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  animation: slider 20s infinite ease-out;
}
.sliding-header-slider .slide img {
  width: 20%;
  height: 50em;
  float: left;
}
.sliding-header .front-face {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
}
.sliding-header .front-face nav {
  color: white;
  z-index: 400;
}
.sliding-header .front-face nav .nav-menu {
  list-style: none;
}
.sliding-header .front-face nav .nav-menu-link {
  float: left;
  margin-right: 2.2em;
  padding: 0.8em 2em;
  font-size: 3em;
  transition: 1s border-bottom ease-in;
  text-transform: uppercase;
}
.sliding-header .front-face nav .nav-menu-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 8px solid white;
}

@media (max-width: 320px) {
  .sliding-header-slider .slide img {
    width: 20%;
    height: 90em;
    float: left;
  }
}
.login-header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
}
.login-header .icon-div {
  float: left;
}
.login-header .icon-logo {
  width: 50px;
  height: 50px;
}
.login-header .name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: rgba(182, 77, 126, 0.979);
}
.login-header .buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header .buttons-join.login button {
  color: rgba(182, 77, 126, 0.979);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  width: 80px;
}
.login-header .buttons-join.sinup button {
  color: white;
  background-color: rgba(182, 77, 126, 0.979);
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.login_body_container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container {
  width: 360px;
  height: 400px;
}
.login_body_container .login_container::before, .login_body_container .login_container::after {
  display: table;
  content: " ";
}
.login_body_container .login_container .login-task-content {
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.login_body_container .login_container .login-task-content .login-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 90px;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content .login-img-logo {
  width: 70px;
  height: 70px;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container .login-task-content .login-logo-content-title .login-web-name {
  color: rgba(182, 77, 126, 0.979);
  font-size: 20PX;
}
.login_body_container .login_container .login-task-content .login-input-content {
  margin-top: 30px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field-title {
  font-size: 13px;
  color: rgba(182, 77, 126, 0.979);
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid rgba(182, 77, 126, 0.979);
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div a {
  font-size: 13px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register {
  padding-right: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register .btn-register {
  width: 100%;
  height: 35px;
  color: rgba(182, 77, 126, 0.979);
  background-color: var(--rayal-white);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login {
  padding-left: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login .btn-login {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: rgba(182, 77, 126, 0.979);
}

@media (max-width: 650px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
.featured {
  margin-top: 4em;
}
.featured-cards {
  display: flex;
  justify-items: center;
  list-style: none;
  justify-content: center;
}
.featured-cards .card-feature {
  color: rgba(182, 77, 126, 0.979);
  flex-basis: 25%;
  background-color: white;
  box-shadow: 8px 8px 8px rgba(182, 77, 126, 0.4);
  margin-right: 2em;
}
.featured-cards .card-feature .card-header {
  position: relative;
}
.featured-cards .card-feature .card-header img {
  z-index: 0;
  position: absolute;
  width: 100%;
}
.featured-cards .card-feature .card-header-type {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  z-index: 100;
  position: absolute;
  background-color: rgba(182, 77, 126, 0.979);
  color: white;
  width: 65%;
  margin-top: 2%;
  font-size: 2.8em;
  text-transform: uppercase;
  text-align: center;
}
.featured-cards .card-feature .card-content {
  margin-top: 62%;
  font-size: 2.8em;
  text-align: justify;
  padding: 2em;
}

@media (max-width: 425px) {
  .featured {
    width: 100%;
    margin-right: 0;
  }
  .featured-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .featured-cards .card-feature {
    flex-basis: 100%;
    background-color: white;
    box-shadow: none;
    margin: 10% 0 0 0;
    height: auto;
  }
  .featured-cards .card-feature .card-header-type {
    z-index: 100;
    position: absolute;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
  }
  .featured-cards .card-feature .card-content {
    margin-top: 60%;
    font-size: 1.8em;
  }
}
.testimonial {
  background: rgba(182, 77, 126, 0.4);
  margin-top: 5%;
}
.testimonial .review {
  padding: 1%;
  position: relative;
}
.testimonial .review__text {
  font-size: 3em;
}
.testimonial .review__user {
  margin-left: 6em;
}
.testimonial .review__user img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  display: inline-block;
}
.testimonial .review__user-box {
  font-size: 3em;
  margin-left: 2em;
  display: inline-block;
}
.testimonial .review__rating {
  display: inline-block;
  font-size: 13em;
  color: rgba(182, 77, 126, 0.979);
}
.testimonial .review::before {
  content: "“";
  color: rgba(182, 77, 126, 0.979);
  position: absolute;
  font-size: 14em;
  margin: -1% 0 0 0;
}

@media (max-width: 320px) {
  .testimonial .review {
    padding: 1%;
  }
  .testimonial .review__text {
    font-size: 2em;
  }
  .testimonial .review__user {
    margin-left: 6em;
  }
  .testimonial .review__user img {
    display: block;
  }
  .testimonial .review__user-box {
    font-size: 2em;
    margin-left: 0;
  }
  .testimonial .review__rating {
    font-size: 9em;
  }
}
footer {
  margin-top: -5em;
  width: 100%;
  background-color: rgba(182, 77, 126, 0.979);
  height: 10vh;
  color: white;
}
footer .copyright {
  font-size: 5em;
  text-align: center;
}

.login-header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
}
.login-header .icon-div {
  float: left;
}
.login-header .icon-logo {
  width: 50px;
  height: 50px;
}
.login-header .name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: rgba(182, 77, 126, 0.979);
}
.login-header .buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header .buttons-join.login button {
  color: rgba(182, 77, 126, 0.979);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  width: 80px;
}
.login-header .buttons-join.sinup button {
  color: white;
  background-color: rgba(182, 77, 126, 0.979);
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.login_body_container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container {
  width: 360px;
  height: 400px;
}
.login_body_container .login_container::before, .login_body_container .login_container::after {
  display: table;
  content: " ";
}
.login_body_container .login_container .login-task-content {
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.login_body_container .login_container .login-task-content .login-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 90px;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content .login-img-logo {
  width: 70px;
  height: 70px;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border: 0px solid blue;
}
.login_body_container .login_container .login-task-content .login-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_body_container .login_container .login-task-content .login-logo-content-title .login-web-name {
  color: rgba(182, 77, 126, 0.979);
  font-size: 20PX;
}
.login_body_container .login_container .login-task-content .login-input-content {
  margin-top: 30px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field-title {
  font-size: 13px;
  color: rgba(182, 77, 126, 0.979);
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div .login-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid rgba(182, 77, 126, 0.979);
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.login_body_container .login_container .login-task-content .login-input-content .login-input-field-div a {
  font-size: 13px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register {
  padding-right: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.register .btn-register {
  width: 100%;
  height: 35px;
  color: rgba(182, 77, 126, 0.979);
  background-color: var(--rayal-white);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login {
  padding-left: 11px;
}
.login_body_container .login_container .login-task-content .login-input-content .login-buttons-div .login-button.login .btn-login {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: rgba(182, 77, 126, 0.979);
}

@media (max-width: 650px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  .login-header {
    position: relative;
  }
  .login-header .logo-name-div {
    float: none;
  }
  .login-header .buttons-join {
    width: 100%;
    float: none;
  }
}
.signup-header {
  width: 100%;
  min-height: 60px;
  float: left;
  position: fixed;
  -webkit-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
}
.signup-header .signup-icon-div {
  float: left;
}
.signup-header .signup-icon-logo {
  width: 50px;
  height: 50px;
}
.signup-header .signup-name-div {
  width: 200px;
  float: left;
  font-size: 20px;
  width: 80px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: rgba(182, 77, 126, 0.979);
}
.signup-header .signup-buttons-join {
  float: right;
  display: inline-block;
  width: 110px;
  height: 60px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-header .signup-buttons-join.login button {
  color: rgba(182, 77, 126, 0.979);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  width: 80px;
}
.signup-header .signup-buttons-join.sinup button {
  color: white;
  background-color: rgba(182, 77, 126, 0.979);
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px white;
  -moz-box-shadow: 0px 0px 6px white;
  width: 80px;
}

.signup-setup_body_container {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-setup_body_container .signup-container {
  width: 680px;
  height: inherit;
  position: absolute;
}
.signup-setup_body_container .signup-container ::before, .signup-setup_body_container .signup-container ::after {
  display: table;
  content: " ";
}
.signup-setup_body_container .signup-container .signup-task-content {
  display: none;
  margin-top: 130px;
  min-height: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content {
  width: 300px;
  margin-top: 0px;
  height: 40px;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content .signup-img-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content-title {
  width: 300px;
  margin-top: 0px;
  border: 0px solid blue;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-logo-content-title .signup-web-name {
  color: rgba(182, 77, 126, 0.979);
  font-size: 20PX;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content {
  margin-top: 30px;
  border: 0px solid gray;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div {
  width: 300px;
  margin-top: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div span {
  size: 13px;
  color: var(--rayol-primary-color);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div .signup-input-field {
  width: 96%;
  height: 32px;
  border: 1px solid rgba(182, 77, 126, 0.979);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-input-field-div .signup-input-field.confirm {
  margin-top: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div {
  width: 47%;
  height: 40px;
  border: 0px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button {
  margin-top: 15px;
  float: left;
  border: 0px solid gray;
  width: 46%;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.cancel {
  padding-right: 11px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.cancel .signup-btn-cancel {
  width: 100%;
  height: 35px;
  color: rgba(182, 77, 126, 0.979);
  background-color: white;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 6px rgba(182, 77, 126, 0.979);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.create {
  padding-left: 11px;
}
.signup-setup_body_container .signup-container .signup-task-content .signup-input-content .signup-buttons-div .signup-button.create .signup-btn-create {
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: rgba(182, 77, 126, 0.979);
}
.signup-setup_body_container .signup-container .signup-task-content .signup-content-image-presenter img {
  width: 250px;
  height: 250px;
  float: right;
  margin-top: -250px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-setup_body_container .signup-container .signup-task-content.active {
  display: block;
}

.userprofile-top-navigation {
  width: inherit;
  background-color: white;
  z-index: 1000;
  float: unset;
  -webkit-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 8px rgba(182, 77, 126, 0.979);
}
.userprofile-top-navigation .userprofile-logo-img {
  float: left;
  height: inherit;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-logo-img .userprofile-icon-logo {
  margin-top: 7px;
  height: 40px;
}
.userprofile-top-navigation .userprofile-name-div {
  display: inline-block;
  width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-name-div .userprofile-web-name {
  color: rgba(182, 77, 126, 0.979);
  font-size: 20PX;
  margin-left: 80px;
}
.userprofile-top-navigation .userprofile-profile-nav {
  margin-top: -53px;
  height: 59px;
  width: 120px;
  margin-left: auto;
  margin-right: 0;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav {
  height: inherit;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav {
  width: 20px;
  height: 20px;
  border: 0px solid gray;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav .userprofile-icon-notification {
  width: 20px;
  height: 20px;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav .userprofile-notification-text-nav {
  width: 17px;
  margin-left: 12px;
  margin-top: -35px;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-notification-nav .userprofile-icon-notification-icon-nav .userprofile-notification-text-nav .userprofile-notification-text {
  font-size: 9px;
  background-color: green;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  color: white;
  padding-bottom: 2px;
  border-radius: 50%;
  margin-top: 0px;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-profile-nav {
  border: 0px solid gray;
  width: 60px;
  height: 55px;
  margin-left: 60px;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userprofile-top-navigation .userprofile-profile-nav .userprofile-icon-profile-nav .userprofile-icon-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

body {
  background-color: #f5f5f5;
}
body .userprofile-body-contant-navigation {
  width: 98%;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}
body .userprofile-body-contant-navigation .userprofile-setting_body {
  margin: auto;
  left: 0;
  right: 0;
  width: 400px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 4px rgba(182, 77, 126, 0.979);
}
body .userprofile-body-contant-navigation .userprofile-setting_body .userprofile-settings_profile {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .userprofile-body-contant-navigation .userprofile-setting_body .userprofile-settings_profile span {
  font-size: 15px;
}
body .userprofile-body-contant-navigation .userprofile-setting_body .userprofile-settings_profile .userprofile-settings_profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books {
  margin: auto;
  left: 0;
  right: 0;
  width: 400px;
  position: relative;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(182, 77, 126, 0.979);
  -moz-box-shadow: 0px 0px 4px rgba(182, 77, 126, 0.979);
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-title {
  width: 100%;
  margin-top: 10px;
  border: 0px solid gray;
  height: 30px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-title span {
  font-size: 18px;
  margin-left: 10px;
  font-style: initial;
  color: rgba(182, 77, 126, 0.979);
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container {
  border: 0px solid gray;
  width: 100%;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item {
  border: 0px solid gray;
  margin: 10px;
  width: 95%;
  background-color: #cca8b9;
  border-radius: 5px;
  padding-top: 10px;
  height: 60px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item .userprofile-books-item-name {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item .userprofile-books-item-address {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-books-container .userprofile-books-item .userprofile-books-item-cost {
  font-size: 17px;
  float: right;
  margin-right: 20px;
  color: #913939;
  text-decoration: 1;
  margin-top: 10px;
  margin-left: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-security-container {
  border: 0px solid gray;
  width: 100%;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-security-container .userprofile-security {
  border: 0px solid gray;
  margin: 10px;
  width: 95%;
  height: 80px;
  border-radius: 5px;
  padding-top: 10px;
}
body .userprofile-body-contant-navigation .userprofile-menu-item-books .userprofile-security-container .userprofile-security label {
  font-size: 17px;
  text-decoration: underline;
  color: #1c1c1d;
}

.admin-container {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  height: 88%;
  background-color: #f5f5f5;
}
.admin-container .body-contant-navigation {
  width: 98%;
  margin-top: 10px;
  height: 100%;
  padding: 10px;
  background-color: #f5f5f5;
}
.admin-container .body-contant-navigation .tast_content_main {
  width: 100%;
  background-color: white;
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border-collapse: collapse;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation {
  width: 250px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #A3A3A3;
  -moz-box-shadow: 0px 0px 6px #A3A3A3;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section {
  width: auto;
  height: 60px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-image-div {
  height: inherit;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-image-div .left-navigation-dawer-profile-section-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-name-div {
  width: 155px;
  height: 15px;
  margin-left: 60px;
  margin-top: -47px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-name-div .left-navigation-dawer-profile-section-profile-name {
  font-size: 14px;
  color: gray;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-status-div {
  width: 155px;
  height: 15px;
  margin-left: 60px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-profile-section .left-navigation-dawer-profile-section-profile-status-div .left-navigation-dawer-profile-section-profile-status {
  font-size: 12px;
  color: green;
  font-family: Roboto-Medium;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons {
  height: 40px;
  width: 200px;
  cursor: pointer;
  border: 0px solid gray;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f0ecec;
  margin-top: 3px;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-icons-div {
  height: inherit;
  margin-left: 10px;
  width: 30px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-icons-div .left-navigation-dawer-opened-buttons-icons {
  width: 15px;
  height: 15px;
  fill: rgba(182, 77, 126, 0.979);
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-title-div {
  margin-left: 40px;
  width: 160px;
  height: 25px;
  margin-top: -26px;
  float: left;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-title-div .left-navigation-dawer-opened-buttons-title .home-links {
  color: gray;
  font-size: 13px;
  text-decoration: none;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons .left-navigation-dawer-opened-buttons-title-div .left-navigation-dawer-opened-buttons-title .home-links :focus {
  color: rgba(182, 77, 126, 0.979);
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons:hover {
  border-left: 3px solid rgba(182, 77, 126, 0.979);
  background-color: #ECEFF1;
}
.admin-container .body-contant-navigation .tast_content_main tr td .left-navigation #left-nav-container .left-navigation-drawer .left-navigation-dawer-opened-buttons.visible {
  border-left: 3px solid rgba(182, 77, 126, 0.979);
  background-color: #f8f1f8;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td {
  width: 100%;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content {
  padding: 15px;
  margin-left: 10px;
  width: 98%;
  height: 100%;
  border-color: rgba(182, 77, 126, 0.979);
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #A3A3A3;
  -moz-box-shadow: 0px 0px 6px #A3A3A3;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list {
  background-color: white;
  border: 0px solid gray;
  width: 96;
  margin: 0;
  height: inherit;
  width: 100%;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header {
  border: 0px solid green;
  height: 40px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title {
  border: 0px solid gray;
  height: 40px;
  width: 200px;
  border: 0px solid gray;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.title {
  width: 80px;
  float: left;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.title span {
  font-size: 20px;
  height: 40px;
  color: rgba(182, 77, 126, 0.979);
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search {
  border: 0px solid gray;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search input {
  height: 25px;
  padding-left: 10px;
  margin: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .search_contents_tools {
  float: right;
  margin: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .g-h-menu {
  float: left;
  width: 40px;
  height: 40px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .g-h-menu.inbox.reflesh button {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(182, 77, 126, 0.979);
  height: 2.5em;
  width: 2.5em;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-header .g-h-title.search .g-h-menu.inbox.reflesh button img {
  height: 10px;
  width: 10px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .line {
  background-color: #f5f5f5;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus {
  border: 0px solid green;
  height: 40px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus .g-h-menu {
  float: left;
  width: 40px;
  height: 40px;
  border: 0px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus .g-h-menu .buttons-headers {
  background-color: rgba(182, 77, 126, 0.979);
  height: 35px;
  width: 35px;
  border-radius: 0.8em;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content-menus .g-h-menu .buttons-headers img {
  height: 10px;
  width: 10px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table {
  overflow: auto;
  border: 0px solid gray;
  width: 100%;
  max-height: 500px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-spacing: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr {
  height: 50px;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
  cursor: pointer;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check {
  width: 50px;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon {
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon .checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #eee;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon:hover input ~ .checkmark {
  background-color: #ccc;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon input:checked ~ .checkmark {
  background-color: rgba(182, 77, 126, 0.979);
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon input:checked ~ .checkmark:after {
  display: block;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.check .chk_unchk_icon .checkmark:after {
  left: 7px;
  top: 5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td .img-user-row {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.name {
  font-size: 14px;
  color: rgba(182, 77, 126, 0.979);
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.date {
  font-size: 12px;
  color: gray;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.feed {
  font-size: 12px;
  color: gray;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr .g-t-td.sender {
  font-size: 14px;
  color: rgba(182, 77, 126, 0.979);
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr:hover {
  background-color: #ECEFF1;
}
.admin-container .body-contant-navigation .tast_content_main tr .task-content-td .task-content .content-list .content_list_table .groups-table .g-t-tr.tr-backgound {
  background-color: #FAFAFA;
}

/*# sourceMappingURL=style.css.map */
