$theme-primary-dark: #000;
$theme-primary-white: #fff;
$theme-primary-color:rgba(182, 77, 126, 0.979);
$theme-asset-color:rgb(168, 74, 46);
$theme-primary-white:rgb(255, 255, 255);
$theme-white-sec:#f5f5f5;