$theme-primary-dark: #000;
$theme-primary-white: #fff;
$theme-primary-color:rgba(182, 77, 126, 0.979);
$theme-asset-color:rgb(168, 74, 46);
$theme-primary-grey: rgba(218, 218, 218, 0.884);
$theme-primary-white:rgb(255, 255, 255);
$theme-master-card: #05588fe7;
$theme-primary-red: rgba(228, 13, 13, 0.856);